.cardContainer {
  border: 1px solid var(--button-nav-color);
  padding: 0.25em 0.5em;
  border-radius: 8px;
  margin-bottom: 1em;
}

.cardRaceInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: var(--bottom-border);
  margin-bottom: 1em;
}

.cardInfo {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--button-nav-color);
  margin-bottom: 0;
}

.cardHeader {
  line-height: 1.2;
  font-weight: 600;
}

.cardDescription {
  font-size: 0.8rem;
}

.cardCountdownContainer {
  align-self: center;
}

.cardCountdown {
  font-size: 0.75rem;
  text-align: right;
}

.cardCountdown > span {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  color: var(--button-nav-color);
  font-weight: 600;
  line-height: 1;
}

.cardSessionTimesHeader {
  font-size: 0.9rem;
}
