.standings {
  margin: 0 auto;
  width: 95%;
  max-width: 1000px;
}

.title {
  margin-bottom: 0.5em;
}

.buttonContainer {
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

.button {
  font-size: 1.1rem;
  padding: 0.25em 1em;
  transition: 0.3s color;
}

.button:hover {
  color: var(--button-nav-color);
}

.button:disabled {
  color: var(--button-nav-color);
  border-bottom: 2px solid var(--button-nav-color);
}
